#Using jsunit.properties is one way to specify the various properties used by the JsUnitServer.
#To use this file, rename it to "jsunit.properties".  You need to provide values for the mandatory properties.
#If you are running tests using the ant script build.xml, the properties are set in build.xml.
#If you are running JsUnit programmatically, either create a ConfigurationSource programmatically or use System.setProperty(String, String) to specify properties.

#Please see the documentation at http://www.jsunit.net for more information.

#browserFileNames is the list of browsers in which to run tests when StandaloneTest is invoked on this machine.  This is a mandatory property.
#For example: browserFileNames=c:\\program files\\internet explorer\\iexplore.exe,c:\\program files\\netscape\\netscape7.1\\netscp.exe,C:\\Program Files\\Netscape\\Netscape7.01\\netscp.exe,C:\\Program Files\\Netscape\\Netscape6.2.3\\netscp6.exe,browserFileNames=c:\\MozillaFirebird\\MozillaFirebird.exe
browserFileNames=

#url is the URL (HTTP or file protocol) to open in the browser.  This is a mandatory property if the server is to know how to run tests.  Alternatively a url parameter can be passed to the runner servlet.
#For example: url=file:///c:/jsunit/testRunner.html?testPage=c:\\jsunit\\tests\\jsUnitTestSuite.html&autoRun=true&submitresults=true
url=

#port is the port on which the JsUnitServer runs.  This is not a mandatory property.  If not specified, 8080 is assumed.
#For example: port=8080
port=

#resourceBase is the directory that the JsUnitServer considers to be its document root.  It can be specified relative to the working directory.  This is not a mandatory property.  If not specified, the working directory is assumed.
#For example: resourceBase=c:\\jsunit
resourceBase=

#logsDirectory is the directory in which the JsUnitServer stores the XML logs produced from tests run.  It can be specified relative to the working directory.  This is not a mandatory property.  If not specified, the directory called "logs" inside resourceBase is assumed.
#For example: logsDirectory=c:\\jsunit\\java\logs
logsDirectory=

#For a standard JsUnitServer, timeoutSeconds is the number of seconds to wait before "timing out" a browser during a test run.  This is not a mandatory property.  If not specified, 60 is assumed.
#For a JsUnitFarmServer, timeoutSeconds is the number of seconds to wait before "timing out" a remote machine during a test run.  This is not a mandatory property.  If not specified, 300 is assumed.
#For example: timeoutSeconds=60
timeoutSeconds=

#closeBrowsersAfterTestRuns is whether to attempt to close browsers after test runs.  This is not a mandatory property.  The default is true.
#For example: closeBrowsersAfterTestRuns=false
closeBrowsersAfterTestRuns=

#remoteMachineURLs is not a JsUnitServer property.  Rather, it is used by the JsUnitFarmServer.  Its value is the list of URLs of remote machines to which a request to run tests will be sent.
#For example: <property name="remoteMachineURLs" value="http://machine1.company.com:8080,http://localhost:8080,http://192.168.1.200:9090"/>
